.footer{
    width: AUTO;
    height: 40vh;
    display: flex;
    background-color: black;
    color: white;

}
   
.left1{
    width: 33.33%;
    height: 40vh;
   text-align: center;
}
.mid{
    width:  33.33%;
    height: 40vh;
    text-align: center;
    
    
}
.right1{
    width:  33.33%;
    height: 40vh;  
}
.pic{
    width: 25.33;
    height: 25vh;
    

}
.pic img{
    margin: 2px;
}
